<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>XÁC NHẬN ORDER</h1>
        <p>Cảm ơn bạn đã đặt hàng của chúng tôi !</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col" class="text-start">Số lượng</th>
                    <th scope="col" class="text-start">Đơn giá</th>
                    <th scope="col" class="text-start">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Product Img" class="product-img">
                            <span class="product-name">Tên sản phẩm</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 Đ</td>
                    <td>200,000 Đ</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-gradient">Tiếp tục mua sắm</button>
        </div>
    </div>
</div>
<app-footer></app-footer>