<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-auto">
                <h2 class="login-header">Đăng Nhập</h2>
                <div class="form-group">
                    <label for="username">Tên tài khoản: </label>
                    <input type="text" id="username" class="form-control" placeholder="Nhập tài khoản ở đây...">
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="password">Mật khẩu: </label>
                    <input type="password" id="password" class="form-control" placeholder="Nhập mật khẩu ở đây...">
                    <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label for="remember" class="form-check-label text-start">Ghi nhớ đăng nhập</label>
                        </span>
                        <a href="#" class="register-link">Quên mật khẩu</a>
                    </div>
                </div>
                <div class="form-group">
                    <select name="" id="" class="form-control access-right ">
                        <option value="" selected disabled>Quyền Đăng Nhập</option>
                        <option value="">Người Dùng</option>
                        <option value="">Quản Trị</option>
                    </select>
                </div>
                <button type="submit" class="login-button">Đăng Nhập</button>
                <div class="divider"></div>
                <p class="text-center">Bạn chưa có tài khoản ? <span>
                <a href="#" class="register-link">Tạo tài khoản</a></span></p>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>